.MixerList {
    margin-top: 150px;
    /* background-color: pink;
    padding: 500px;
    border: 50px solid black; */
}




.MixerList h1 {
    margin-right: 30%;
}
.Mixer-Button {
    border-radius: 4px;
}