.MixerList {
    margin-top: 20px;
    /* background-color: pink;
    padding: 500px;
    border: 50px solid black; */
}




.MixerList h1 {
    margin-right: 30%;
}
.MixerList-Button {
    border-radius: 4px;
}

.MixerList-Button:hover {
    background-color: #d1d2d4;
}
