
/* note that this doesnt seem to be working but inline styles were working... */
/* .PROFILE {
    background-image: none;
    width: 100%;
    display: flex;
    border: 30px solid blue;
    background-color: yellow;
    
}

.Profile {
    margin-right: 30%;
    background-color: green;
} */

/* .MDBCardText {
    word-wrap: break-word;
  } */