.BoutList {
    margin-top: 150px;
    /* background-color: pink;
    padding: 500px;
    border: 50px solid black; */
}


/* .BoutList-RenderCards {
    margin-top: 500px;
    background-color: pink;
} */

.BoutList h1 {
    margin-right: 30%;
}

.Bout-Button {
    border-radius: 4px;
}