.NavBar-Top {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; 
}

.Nav {
    flex-direction: row;
    /* min-width: 600px; */

  }

nav {
    background-color: #d1d2d4;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    height: 70px;
  }

    .nav-item {
    width: 100px;
    text-align: center;
    flex-direction: row;
  }
  
  nav a {
    color: rgb(29, 27, 29);
    text-decoration: none;
  }
  
  nav a.active {
    color: rgb(29, 27, 29);
    font-weight: bold;
  }

  nav a.active:hover {
    color: rgb(29, 27, 29);
  }
  
  nav a:hover {
    text-decoration: none;
    color: rgb(29, 27, 29);
  }
  

  nav a:not(.navbar-brand):hover {
    font-weight: bold;
  }

  .navbar-collapse {
    display: flex; /* Default display mode */
  }

  /* * display flex on this container (interior styling) is causing this component to move */
.navbar > .container-fluid {
  align-items: start;
  padding-top: 8px;
}
  

.navbar {
  display: block;
}


.collapse.show.navbar-collapse {
  justify-content: center;
  background: rgb(242, 240, 240);
  border: 1px solid rgb(194, 192, 192);
  border-radius: 4px;
  padding: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 #00000033;
}