
.App {
  text-align: center;
  /* justify-content: center; */
  /* background-color: orange; */
  height: 100vh;

}

body {
  /* background-image: url("./images/skater-3-poses_01.svg"); */
  /* background-size: 500px; */
  /* background-size: cover;  */
  background-size: contain; 
  background-repeat: no-repeat;
  background-color: blue;
  /* cover uses the image once  */
  /* background-image: url("./images/skater-jam_02.svg"); */
  background-image: url("./images/skater-jam_02.svg");
  height: 100vh;
  /* background-position: left 130% top 50%;  */
  background-position: right top; 
  background-attachment: fixed;

  /* background-size: cover; */
  /* background-origin: padding-box;
  padding: 400px; */
  /* padding a way to shrink the iamge */
  /* background-blend-mode: ; */
 }


/* body {
  background-image: url('data:images/utf8skater-3-poses_01.svg,<svg ...><g stroke="red" ... /></g></svg>');
} */

/* note that the fill color is the background color of the silhoutte not the background */
/* original page color pagecolor="%23ffffff" */
/* ornage fill color style="fill:%23000000 */
/* might be because of opacity but not sure  */
/* pagecolor doesnt seem to be changing this. you may have to try something else  style="fill:%231b78f6;fill-opacity:0.980392;*/

 /* body {
  background-color: red;

 } */